<!--
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand custom" href="#">Project name</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;
  </div>
</nav>-->
<div class="navbar navbar-inverse navbar-static-top">
  <button type="button" id="slide-menu-button" href="#sidr-main" class="navbar-toggle">
    <span class="icon-bar">aa</span>
    <span class="icon-bar">bb</span>
    <span class="icon-bar">cc</span>
  </button>
  <a class="navbar-brand custom" href="#/">
    <img class="navbar-icon" src="images/lock-icon.png"/>
  </a>


  <div id="menu-list" class="navbar-collapse collapse" ng-cloak>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/mylocker">{{ labels.titles.mylocker }}</a></li>
      <li><a href="#/setting">{{ labels.titles.temp }}</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
<!--

<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Project name</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;
</div>
-->
